
<a class="card-brand" href="{{ path('app_brand_show', {'slug': brand.slug}) }}">
    <div class="container-image {% if lowHeight is defined %}low-height{% endif %}">
        <img src="{{ brand.thumbnailCover }}" alt="{{ brand.name }}">
        <div class="container-price">
            {{ brand.price }}€
        </div>
    </div>
    <div class="card-infos">
        <p>{{ brand.name }}</p>
    </div>
</a>